*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(201, 27%, 45%);
  color: hsl(200, 100%, 10%);
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(200, 100%, 10%);
  color: hsl(200, 100%, 90%);
}

.header-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-self: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid hsl(200, 100%, 40%);
}

.header-right {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.weather-icon.large {
  width: 80px;
  height: 80px;
}

.header-current-temp {
  font-size: 2rem;
  margin: 1rem;
}
